*.pth filter=lfs diff=lfs merge=lfs -text
weightss/ABINet/abinet_20e_st-an_mj_20221005_012617-ead8c139.pth filter=lfs diff=lfs merge=lfs -text
weightss/DBNet/dbnetpp_resnet50-oclip_fpnc_1200e_icdar2015_20221101_124139-4ecb39ac.pth filter=lfs diff=lfs merge=lfs -text
