
.tr{
border:1px solid black;
}
#search{
    float:left;
    width:80%;
}
.search_btn{
    float:left;
    width:auto;
    margin-left:20px;
}
#btn_s{
    background-color:#75E6DA;
    color:black;
    border-radius: 10px;
}
a:link{
    text-decoration: none;
}
#frame{
    margin:auto;
    border:outset;
    width:800px;
    height:300px;
}
#Acc_Info{
    margin:auto;
    margin-top:20px;
}